In [36]:
import pandas as pd

In [37]:
data= pd.read_csv("D:/data/dhs_data/2016/ETIR71DT/ETIR71FL.csv")

In [38]:
data

,Unnamed: 0,caseid,v000,v001,v002,v003,v004,v005,v006,v007,...,sd508va_3,sd508va_4,sd508va_5,sd508va_6,sm508va_1,sm508va_2,sm508va_3,sm508va_4,sm508va_5,sm508va_6
0,5,1 40 3,ET7,1,40,3,1,5087433,9,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,14,1 263 2,ET7,1,263,2,1,5087433,9,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18,1 358 2,ET7,1,358,2,1,5087433,9,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25,1 449 2,ET7,1,449,2,1,5087433,9,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,28,2 165 1,ET7,2,165,1,2,461695,9,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1117,15615,643 152 2,ET7,643,152,2,643,60400,7,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1118,15620,643 319 10,ET7,643,319,10,643,60400,7,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1119,15629,643 462 2,ET7,643,462,2,643,60400,7,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1120,15645,644 286 2,ET7,644,286,2,644,65883,6,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1121,15667,645 293 2,ET7,645,293,2,645,685395,5,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
x=['caseid','v013','v024','v025','v045c','v045c','v101','v102','v104','v106','v113','v115','v116','v119','v130','v131','v135','v155','v157','v158','v159','v161','v190','v190a','v208','v209','v213','v215','v216','v217','v220','v223','v225','v226','v228','v302a','v304a_01','v304_01','v307_01','v312','v313','v364','v394','m10_1','m15_1','m46_1','m60_1','v404','v405','v406','v437','v445','v446','v453','v454','v455','v457','v463a','v463b','v463c','v463k','v463l','v463x','v463aa','v463ab','v473b','v501','v504','v513','v701','v704','v704','v704a','v705','v714','v714a','v716','v717','v729','v731','v745a','v745b','v750','v751','s107','s1107a']

In [50]:
data= pd.read_csv("D:/data/dhs_data/2016/ETIR71DT/ETIR71FL.csv", index_col='caseid',usecols=x)

In [51]:
data.head(100)

,v013,v024,v025,v045c,v101,v102,v104,v106,v113,v115,...,v716,v717,v729,v731,v745a,v745b,v750,v751,s107,s1107a
caseid,,,,,,,,,,,,,,,,,,,,,
1 40 3,4,4,2,4,4,2,95,0,97,997,...,0,0,0.0,0,2,2,1,1,0,1
1 263 2,3,4,2,4,4,2,95,0,21,50,...,52,3,0.0,2,1,1,1,1,0,1
1 358 2,3,4,2,4,4,2,1,1,14,60,...,0,0,0.0,0,1,1,1,1,1,0
1 449 2,5,4,2,4,4,2,95,0,41,50,...,0,0,0.0,0,2,2,1,1,0,0
2 165 1,5,5,2,7,5,2,95,0,32,60,...,0,0,0.0,0,2,2,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48 243 2,4,5,2,2,5,2,95,0,32,60,...,52,3,1.0,2,1,0,1,1,0,0
50 257 2,3,7,2,26,7,2,95,1,43,360,...,52,3,1.0,2,1,1,1,1,1,0
50 268 2,2,7,2,26,7,2,95,0,43,50,...,0,0,1.0,0,1,1,0,0,0,0
50 455 7,2,7,2,26,7,2,95,0,97,997,...,0,0,0.0,0,0,0,1,1,0,0
50 461 2,1,7,2,2,7,2,95,1,43,90,...,0,0,0.0,0,1,1,1,1,1,0

In [52]:
data.shape

(1122, 83)

In [53]:
data.isnull().sum().sum()

2691

In [54]:
data.isnull().sum()

v013      0
v024      0
v025      0
v045c     0
v101      0
         ..
v745b     0
v750      0
v751      0
s107      0
s1107a    0
Length: 83, dtype: int64

In [55]:
data.to_csv('D:/data/dhs_data/2016/ETIR71DT/anemia_2016.csv')

In [56]:
data1=pd.read_csv('D:/data/dhs_data/2016/ETIR71DT/anemia_2016.csv')

In [57]:
data1.head(100)

,caseid,v013,v024,v025,v045c,v101,v102,v104,v106,v113,...,v716,v717,v729,v731,v745a,v745b,v750,v751,s107,s1107a
0,1 40 3,4,4,2,4,4,2,95,0,97,...,0,0,0.0,0,2,2,1,1,0,1
1,1 263 2,3,4,2,4,4,2,95,0,21,...,52,3,0.0,2,1,1,1,1,0,1
2,1 358 2,3,4,2,4,4,2,1,1,14,...,0,0,0.0,0,1,1,1,1,1,0
3,1 449 2,5,4,2,4,4,2,95,0,41,...,0,0,0.0,0,2,2,1,1,0,0
4,2 165 1,5,5,2,7,5,2,95,0,32,...,0,0,0.0,0,2,2,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,48 243 2,4,5,2,2,5,2,95,0,32,...,52,3,1.0,2,1,0,1,1,0,0
96,50 257 2,3,7,2,26,7,2,95,1,43,...,52,3,1.0,2,1,1,1,1,1,0
97,50 268 2,2,7,2,26,7,2,95,0,43,...,0,0,1.0,0,1,1,0,0,0,0
98,50 455 7,2,7,2,26,7,2,95,0,97,...,0,0,0.0,0,0,0,1,1,0,0
99,50 461 2,1,7,2,2,7,2,95,1,43,...,0,0,0.0,0,1,1,1,1,1,0

In [58]:
data1.shape

(1122, 84)