In [1]:
import pandas as pd

In [2]:
data= pd.read_csv("D:/EDHS file/2019 EDHS/ETKR81DT/ETKR81F.csv")

In [3]:
data

,Unnamed: 0,caseid,midx,v000,v001,v002,v003,v004,v005,v006,...,sm104r1,sy104r1,s104r2,sd104r2,sm104r2,sy104r2,s104ipv,sd104ipv,sm104ipv,sy104ipv
0,0,00010008 02,1,ET7,1,8,2,1,1543343,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,00010014 02,1,ET7,1,14,2,1,1543343,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,00010021 02,1,ET7,1,21,2,1,1543343,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,00010041 02,1,ET7,1,41,2,1,1543343,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,00010047 02,1,ET7,1,47,2,1,1543343,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5748,5748,03050166 02,1,ET7,305,166,2,305,57555,7,...,2.0,2011.0,1.0,15.0,4.0,2011.0,2.0,NaN,NaN,NaN
5749,5749,03050166 02,2,ET7,305,166,2,305,57555,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5750,5750,03050171 02,1,ET7,305,171,2,305,57555,7,...,8.0,2008.0,1.0,9.0,9.0,2008.0,2.0,NaN,NaN,NaN
5751,5751,03050177 02,1,ET7,305,177,2,305,57555,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5752,5752,03050177 02,2,ET7,305,177,2,305,57555,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
x=['caseid','b5','b9','b19','m4','m39a','v409','v411','v411a'
   ,'v412a','v412c','v414e','v414f','v414g','v414h','v414i',
   'v414j','v414k','v414l','v414m','v414n','v414o','v414p',
   'v414s','v414v','v005','v213','v445','v190','v457','v013','v130','v106','v024','v025']

In [5]:
data= pd.read_csv("D:/EDHS file/2019 EDHS/ETKR81DT/ETKR81F.csv", index_col='caseid',usecols=x)

In [6]:
data.head(100)

,v005,v013,v024,v025,v106,v130,v190,v213,v409,v411,...,v414p,v414s,v414v,v445,v457,b5,b9,b19,m4,m39a
caseid,,,,,,,,,,,,,,,,,,,,,
00010008 02,1543343,3,1,1,2,1,5,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,0.0,46,93,NaN
00010014 02,1543343,3,1,1,3,1,5,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,0.0,45,93,NaN
00010021 02,1543343,3,1,1,2,1,5,0,1.0,0.0,...,0.0,0.0,0.0,NaN,NaN,1,0.0,2,95,0.0
00010041 02,1543343,4,1,1,3,1,5,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,9,93,NaN
00010047 02,1543343,3,1,1,2,1,5,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,0.0,25,93,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
00060082 02,652857,2,1,2,1,1,2,1,1.0,0.0,...,1.0,1.0,0.0,NaN,NaN,1,0.0,23,93,1.0
00060086 02,652857,3,1,2,1,1,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,0.0,41,93,NaN
00060099 02,652857,4,1,2,0,1,1,0,1.0,0.0,...,0.0,0.0,0.0,NaN,NaN,1,0.0,19,95,1.0
00060099 02,652857,4,1,2,0,1,1,0,1.0,0.0,...,0.0,0.0,0.0,NaN,NaN,1,0.0,39,93,NaN
00070002 02,633933,3,1,2,0,1,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,0.0,57,93,NaN

In [7]:
data.shape

(5753, 34)

In [8]:
data.isnull().sum().sum()

60823

In [9]:
data.isnull().sum()

v005        0
v013        0
v024        0
v025        0
v106        0
v130        0
v190        0
v213        0
v409     2383
v411     2383
v411a    2383
v412a    2383
v412c    2383
v414e    2383
v414f    2383
v414g    2383
v414h    2383
v414i    2383
v414j    2383
v414k    2383
v414l    2383
v414m    2383
v414n    2383
v414o    2383
v414p    2383
v414s    2383
v414v    2383
v445     5753
v457     5753
b5          0
b9        339
b19         0
m4          0
m39a     3701
dtype: int64

In [10]:
data.to_csv('D:EDHS file/Data for implimation nutrrition/nutrition_2019.csv')

In [11]:
data1=pd.read_csv('D:EDHS file/Data for implimation nutrrition/nutrition_2019.csv')

In [12]:
data1.head(100)

,caseid,v005,v013,v024,v025,v106,v130,v190,v213,v409,...,v414p,v414s,v414v,v445,v457,b5,b9,b19,m4,m39a
0,00010008 02,1543343,3,1,1,2,1,5,1,NaN,...,NaN,NaN,NaN,NaN,NaN,1,0.0,46,93,NaN
1,00010014 02,1543343,3,1,1,3,1,5,0,NaN,...,NaN,NaN,NaN,NaN,NaN,1,0.0,45,93,NaN
2,00010021 02,1543343,3,1,1,2,1,5,0,1.0,...,0.0,0.0,0.0,NaN,NaN,1,0.0,2,95,0.0
3,00010041 02,1543343,4,1,1,3,1,5,0,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,9,93,NaN
4,00010047 02,1543343,3,1,1,2,1,5,1,NaN,...,NaN,NaN,NaN,NaN,NaN,1,0.0,25,93,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,00060082 02,652857,2,1,2,1,1,2,1,1.0,...,1.0,1.0,0.0,NaN,NaN,1,0.0,23,93,1.0
96,00060086 02,652857,3,1,2,1,1,1,1,NaN,...,NaN,NaN,NaN,NaN,NaN,1,0.0,41,93,NaN
97,00060099 02,652857,4,1,2,0,1,1,0,1.0,...,0.0,0.0,0.0,NaN,NaN,1,0.0,19,95,1.0
98,00060099 02,652857,4,1,2,0,1,1,0,1.0,...,0.0,0.0,0.0,NaN,NaN,1,0.0,39,93,NaN
99,00070002 02,633933,3,1,2,0,1,1,1,NaN,...,NaN,NaN,NaN,NaN,NaN,1,0.0,57,93,NaN

In [13]:
data1.shape

(5753, 35)