In [1]:
import pandas as pd
dataset = pd.read_csv("D:/Malnutration/EDHS file/Data for implimation nutrrition/nutrition_selectedfeature2.csv")
print(dataset.shape)
dataset.head()

(30014, 22)

,Unnamed: 0,v013,v024,v025,v106,v130,v190,v213,v409,v411,...,v414e,v414n,v414s,v414v,v445,v457,b9,b19,m4,b5
0,0,5.0,4,2,0,0,2,0,1,0,...,0,0,0,0,1,1,0,31,1,1
1,1,5.0,4,2,0,0,2,0,1,0,...,0,0,0,0,1,1,0,44,1,1
2,2,5.0,4,2,0,0,2,0,1,0,...,0,0,0,0,1,1,0,55,1,1
3,3,6.0,4,2,1,0,2,0,1,0,...,0,0,0,0,1,1,0,45,1,0
4,4,7.0,4,2,0,0,2,0,1,0,...,0,0,0,0,1,1,0,44,1,1

In [2]:
#dataset.dropna()
dataset['v013'].fillna(dataset['v013'].mode()[0], inplace=True)
dataset.drop(['Unnamed: 0'],axis=1, inplace=True)
dataset

,v013,v024,v025,v106,v130,v190,v213,v409,v411,v412a,...,v414e,v414n,v414s,v414v,v445,v457,b9,b19,m4,b5
0,5.0,4,2,0,0,2,0,1,0,0,...,0,0,0,0,1,1,0,31,1,1
1,5.0,4,2,0,0,2,0,1,0,0,...,0,0,0,0,1,1,0,44,1,1
2,5.0,4,2,0,0,2,0,1,0,0,...,0,0,0,0,1,1,0,55,1,1
3,6.0,4,2,1,0,2,0,1,0,0,...,0,0,0,0,1,1,0,45,1,0
4,7.0,4,2,0,0,2,0,1,0,0,...,0,0,0,0,1,1,0,44,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30009,3.0,3,2,0,0,1,0,1,0,0,...,0,0,0,0,1,1,0,41,1,0
30010,3.0,8,1,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,48,1,0
30011,3.0,8,2,0,1,1,0,1,0,0,...,0,0,0,0,0,1,0,53,1,0
30012,3.0,8,1,0,1,1,0,0,0,0,...,0,0,0,0,1,1,0,54,1,0
30013,3.0,5,1,0,0,1,0,1,0,0,...,1,0,1,0,1,1,0,39,1,0

In [3]:
dataset.loc[dataset.b19 ==49 ,'b19'] = 1;
dataset.loc[dataset.b19 ==48 ,'b19'] = 0;
dataset.loc[dataset.b19 ==50 ,'b19'] = 1;
dataset.loc[dataset.b19 ==25 ,'b19'] = 1;
dataset.loc[dataset.b19 ==24 ,'b19'] = 0;
dataset.loc[dataset.b19 ==52 ,'b19'] = 1;
dataset.loc[dataset.b19 ==53 ,'b19'] = 1;
dataset.loc[dataset.b19 ==39 ,'b19'] = 0;
dataset.loc[dataset.b19 ==36 ,'b19'] = 1;
dataset.loc[dataset.b19 ==40 ,'b19'] = 1;
dataset.loc[dataset.b19 ==37 ,'b19'] = 0;
dataset.loc[dataset.b19 ==38 ,'b19'] = 1;
dataset.loc[dataset.b19 ==26 ,'b19'] = 1;
dataset.loc[dataset.b19 ==41 ,'b19'] = 0;
dataset.loc[dataset.b19 ==51 ,'b19'] = 1;
dataset.loc[dataset.b19 ==42 ,'b19'] = 1;
dataset.loc[dataset.b19 ==13 ,'b19'] = 0;
dataset.loc[dataset.b19 ==54 ,'b19'] = 1;
dataset.loc[dataset.b19 ==30 ,'b19'] = 1;
dataset.loc[dataset.b19 ==6 ,'b19'] = 0;
dataset.loc[dataset.b19 ==17 ,'b19'] = 1;
dataset.loc[dataset.b19 ==12 ,'b19'] = 1;
dataset.loc[dataset.b19 ==18 ,'b19'] = 0;
dataset.loc[dataset.b19 ==47 ,'b19'] = 1;
dataset.loc[dataset.b19 ==15 ,'b19'] = 1;
dataset.loc[dataset.b19 ==28 ,'b19'] = 0;
dataset.loc[dataset.b19 ==29 ,'b19'] = 1;
dataset.loc[dataset.b19 ==55 ,'b19'] = 1;
dataset.loc[dataset.b19 ==14 ,'b19'] = 0;
dataset.loc[dataset.b19 ==31 ,'b19'] = 1;
dataset.loc[dataset.b19 ==16 ,'b19'] = 1;
dataset.loc[dataset.b19 ==46 ,'b19'] = 0;
dataset.loc[dataset.b19 ==27 ,'b19'] = 1;
dataset.loc[dataset.b19 ==4 ,'b19'] = 1;
dataset.loc[dataset.b19 ==32 ,'b19'] = 0;
dataset.loc[dataset.b19 ==5 ,'b19'] = 1;
dataset.loc[dataset.b19 ==35 ,'b19'] = 1;
dataset.loc[dataset.b19 ==45 ,'b19'] = 0;
dataset.loc[dataset.b19 ==8 ,'b19'] = 1;
dataset.loc[dataset.b19 ==23 ,'b19'] = 1;
dataset.loc[dataset.b19 ==58 ,'b19'] = 0;
dataset.loc[dataset.b19 ==3 ,'b19'] = 1;
dataset.loc[dataset.b19 ==22 ,'b19'] = 1;
dataset.loc[dataset.b19 ==19 ,'b19'] = 0;
dataset.loc[dataset.b19 ==43 ,'b19'] = 1;
dataset.loc[dataset.b19 ==20 ,'b19'] = 1;
dataset.loc[dataset.b19 ==7 ,'b19'] = 0;
dataset.loc[dataset.b19 ==11 ,'b19'] = 1;
dataset.loc[dataset.b19 ==44 ,'b19'] = 1;
dataset.loc[dataset.b19 ==21 ,'b19'] =5;
dataset.loc[dataset.b19 ==9 ,'b19'] = 4;
dataset.loc[dataset.b19 ==10 ,'b19'] = 1;
dataset.loc[dataset.b19 ==34 ,'b19'] = 5;
dataset.loc[dataset.b19 ==2 ,'b19'] = 3;
dataset.loc[dataset.b19 ==56 ,'b19'] = 4;
dataset.loc[dataset.b19 ==33 ,'b19'] = 2;
dataset.loc[dataset.b19 ==57 ,'b19'] = 1;
dataset.loc[dataset.b19 ==59 ,'b19'] = 1;
dataset

,v013,v024,v025,v106,v130,v190,v213,v409,v411,v412a,...,v414e,v414n,v414s,v414v,v445,v457,b9,b19,m4,b5
0,5.0,4,2,0,0,2,0,1,0,0,...,0,0,0,0,1,1,0,1,1,1
1,5.0,4,2,0,0,2,0,1,0,0,...,0,0,0,0,1,1,0,1,1,1
2,5.0,4,2,0,0,2,0,1,0,0,...,0,0,0,0,1,1,0,1,1,1
3,6.0,4,2,1,0,2,0,1,0,0,...,0,0,0,0,1,1,0,0,1,0
4,7.0,4,2,0,0,2,0,1,0,0,...,0,0,0,0,1,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30009,3.0,3,2,0,0,1,0,1,0,0,...,0,0,0,0,1,1,0,0,1,0
30010,3.0,8,1,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
30011,3.0,8,2,0,1,1,0,1,0,0,...,0,0,0,0,0,1,0,1,1,0
30012,3.0,8,1,0,1,1,0,0,0,0,...,0,0,0,0,1,1,0,1,1,0
30013,3.0,5,1,0,0,1,0,1,0,0,...,1,0,1,0,1,1,0,0,1,0

In [4]:
import numpy as np
dataset['v013'] = dataset['v013'].astype(np.int64)
dataset['v024'] = dataset['v024'].astype(np.int64)
dataset['v025'] = dataset['v025'].astype(np.int64)
dataset['v106'] = dataset['v106'].astype(np.int64)
dataset['v130'] = dataset['v130'].astype(np.int64)
dataset['v190'] = dataset['v190'].astype(np.int64)
dataset['v213'] = dataset['v213'].astype(np.int64)
dataset['v409'] = dataset['v409'].astype(np.int64)
dataset['v411'] = dataset['v411'].astype(np.int64)
dataset['v412c'] = dataset['v412c'].astype(np.int64)
dataset['v414e'] = dataset['v414e'].astype(np.int64)
dataset['v414n'] = dataset['v414n'].astype(np.int64)
dataset['v414v'] = dataset['v414v'].astype(np.int64)
dataset['v457'] = dataset['v457'].astype(np.int64)
dataset['b9'] = dataset['b9'].astype(np.int64)
dataset['b19'] = dataset['b19'].astype(np.int64)
dataset['m4'] = dataset['m4'].astype(np.int64)
dataset['b5'] = dataset['b5'].astype(np.int64)
dataset['v412a'] = dataset['v412a'].astype(np.int64)
dataset['v414s'] = dataset['v414s'].astype(np.int64)
dataset['v445'] = dataset['v445'].astype(np.int64)

In [5]:
dataset.dtypes

v013     int64
v024     int64
v025     int64
v106     int64
v130     int64
v190     int64
v213     int64
v409     int64
v411     int64
v412a    int64
v412c    int64
v414e    int64
v414n    int64
v414s    int64
v414v    int64
v445     int64
v457     int64
b9       int64
b19      int64
m4       int64
b5       int64
dtype: object

In [6]:
dataset.columns

Index(['v013', 'v024', 'v025', 'v106', 'v130', 'v190', 'v213', 'v409', 'v411',
       'v412a', 'v412c', 'v414e', 'v414n', 'v414s', 'v414v', 'v445', 'v457',
       'b9', 'b19', 'm4', 'b5'],
      dtype='object')

In [7]:
dataset['m4'].value_counts()

1    23638
0     6376
Name: m4, dtype: int64

In [8]:
dataset

,v013,v024,v025,v106,v130,v190,v213,v409,v411,v412a,...,v414e,v414n,v414s,v414v,v445,v457,b9,b19,m4,b5
0,5,4,2,0,0,2,0,1,0,0,...,0,0,0,0,1,1,0,1,1,1
1,5,4,2,0,0,2,0,1,0,0,...,0,0,0,0,1,1,0,1,1,1
2,5,4,2,0,0,2,0,1,0,0,...,0,0,0,0,1,1,0,1,1,1
3,6,4,2,1,0,2,0,1,0,0,...,0,0,0,0,1,1,0,0,1,0
4,7,4,2,0,0,2,0,1,0,0,...,0,0,0,0,1,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30009,3,3,2,0,0,1,0,1,0,0,...,0,0,0,0,1,1,0,0,1,0
30010,3,8,1,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
30011,3,8,2,0,1,1,0,1,0,0,...,0,0,0,0,0,1,0,1,1,0
30012,3,8,1,0,1,1,0,0,0,0,...,0,0,0,0,1,1,0,1,1,0
30013,3,5,1,0,0,1,0,1,0,0,...,1,0,1,0,1,1,0,0,1,0

In [9]:
X=dataset.drop('b5',axis=1)
y=dataset.v457

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True, random_state=42)

In [11]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(criterion='entropy',max_features='sqrt',min_samples_split=3,n_estimators=500,random_state=0,max_depth=20, max_leaf_nodes=400, n_jobs=-1)
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [12]:
from sklearn.metrics import mean_absolute_error, r2_score
print("MAE : ", mean_absolute_error(y_test,y_predict))
r2_score(y_test,y_predict)

MAE :  0.0

1.0

In [13]:
import sklearn as extjoblib
import joblib
import pickle

In [14]:
joblib.dump(model,'C:/Users/Dawit Shibabaw/Desktop/Dawit/infant_prediction_model.ml')

['C:/Users/Dawit Shibabaw/Desktop/Dawit/infant_prediction_model.ml']

In [15]:
import pickle
# Lets dump our SVM model
pickle.dump(model, open('C:/Users/Dawit Shibabaw/Desktop/Dawit/infant_prediction_model.pkl','wb'))